:root {
  --main-bg-color: #00695c;
  --main-bg-lgh-color: #439889;
  --main-bg-drk-color: #003d33;
  --secondary-bg-color: #80cbc4;
  --secondary-bg-lgh-color: #b2fef7;
  --secondary-bg-drk-color: #4f9a94;
  --main-color-text: #fff;
  --secondary-color-text: #000;
}

body {
  font-size: 16px;
  color: var(--main-color-text);
  background-color: var(--main-bg-color);
  font-family: "Oxygen", sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */
#header-nav {
  background-color: var(--main-bg-drk-color);
  border: 0px;
  border-radius: 0px;
}

.navbar-brand h1 {
  /* NAME BRAND */
  font-family: "Lora", serif;
  color: var(--main-color-text);
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--secondary-color-text);
  line-height: 0.75;
  align-self: center;
  margin: 0;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  text-transform: uppercase;
  color: var(--main-color-text);
}

#nav-list a:hover {
  background: var(--main-bg-drk-color);
  color: var(--main-color-text);
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid var(--secondary-bg-color);
}

/* END HEADER */

/* HOME PAGE */

.row {
  margin-left: 15px;
  margin-right: 15px;
}

.category-tile {
  /* position: relative; */
  /* align-items: center; */
  color: var(--secondary-color-text);
  border: 2px solid var(--main-bg-drk-color);
  margin-bottom: 25px;
  /* margin: 0 25px 20px; */
  background-color: var(--secondary-bg-drk-color);
}

.category-tile h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.category-tile:hover {
  box-shadow: 0 1px 5px 1px var(--secondary-bg-lgh-color);
}

.category-tile p {
  padding: 0 20px 20px;
}

#menu-categories-title {
  margin-bottom: 25px;
  font-size: 2em;
  font-weight: bold;
}
/* END HOME PAGE */
/****************************** Extra small devices only ******************************/
@media (max-width: 767px) {
  #collapsable-nav {
    background-color: var(--main-bg-lgh-color);
  }
  #collapsable-nav a {
    color: var(--secondary-color-text);
    font-weight: bold;
  }
}
